# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# Vercel
.vercel

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
